@{
    ViewData["Title"] = "Index";
}
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcom Home Index</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>
</html>